:root {
    --niceblue:rgb(10,160,160);
}

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.headie {
    border: 5px solid var(--niceblue);
    background:linear-gradient(aqua,aquamarine);
}

.headie h1 {
    display: inline-block;
    border: 5px solid var(--niceblue);
    border-radius: 15px;
    background-color: var(--niceblue);
    margin-left: 20px;
    font-size: 50px;
    font-style: oblique;
}

.directional {
    text-align: right;
    padding:5px;
}

a {
    font-size: 20px;
    color:black;
    margin-left: 10px;
    margin-right: 10px;
}

body{
    background-color: rgba(1, 1, 54, 0.699);
}

.headerimage {
    height:350px;
    width:100%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-image: url("../portfolio-hw2/coolblustuff.jpg");
    background-size: cover; 
    background-position: center; 
}

.aboutme h2 {
    display:flex;
    font-size: 45px;
    flex-direction: row;
    flex-wrap: wrap;
    float:left;
}

.aboutme hr {
    width: 6px; 
    height: 200px; 
    margin-left: 20px;
    display: inline-flex;
    border-color: black;
    background-color: black;
    float:left;
}


.aboutme p {
    display:flex;
    float: right;
    width: 80%;
    font-size: 25px;
    text-align: center;
    margin-top: 100px;
    margin-right: 30px;
}